.main {
    padding: calc(var(--padding) * 2) var(--padding);
    display: grid;
    gap: 1rem;

    .title {
        font-size: clamp(1.5rem, 3vw, 2.8rem);
        color: var(--primary);
    }

    .products {
        margin: auto;
        width: min(100%, 150rem);
        min-height: 100%;
        display: grid;
        height: max-content;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 14rem), 1fr));
        gap: 1rem;
    }
}
